<a href="https://colab.research.google.com/github/Sneha35/Applications-of-python-programming-in-DA-and-ML/blob/master/Day1_Session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Program to find the factorial of a number using loop.

In [1]:
n = int(input("enter a number: "))
f = 1.
for i in range(1, n + 1):
  f = f * i
print("factorial of ", n, " is ", f)

enter a number: 5
factorial of  5  is  120.0

Python Program to reverse a number using loop

In [2]:
n = int(input("Enter a number:"))
rev = 0
  
while(n > 0): 
    a = n % 10
    rev = rev * 10 + a 
    n = n // 10
      
print("Reversed number is",rev)

Enter a number:1234
Reversed number is 4321

Write a Python program to construct the following pattern, using a nested for loop.

In [3]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Python Program to replace all occurrences of ‘a’ with ‘$’ in a string.

In [4]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:Anab
Modified string:
$n$b

Python Program to remove the nth index character from a non-empty string.

In [5]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:Computer
Enter the index of the character to remove:3
Modified string:
Comuter

Python Program to detect if two strings are anagrams.

In [6]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:japan
Enter second string:panja
The strings are anagrams.

Python Program to form a string where the first character and the last character have been exchanged.

In [7]:
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:hello
Modified string:
oellh

Python Program to count number of vowels from a non-empty string.

In [8]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:programming language
Number of vowels are:
7

Program for Divide by zero error detection

In [9]:
flag = True

def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag

while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator4
Enter denominator0
Zero Division Error detected
Try again
Enter numerator4
Enter denominator2
Finally the division of 4/2 is 2.000000
Division is successful
Thank you

Program for ValueError error detection

In [10]:
while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: hello
Oops!  That was no valid number.  Try again...
Please enter a number: 6
 That was valid number. Thank you

Write a program to print the triangle

In [11]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=i
    for j in range(1,i+1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:5

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

Write a program to print the triangle

In [12]:
n=int(input("Enter number:"));
for i in range(n+1):
    for j in range(i):
        print ('* ', end="")
    print('')

Enter number:4

*
* *
* * *
* * * *

Write a program to print the triangle

In [13]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:6

6
5 6
4 5 6
3 4 5 6
2 3 4 5 6
1 2 3 4 5 6

Write a program to print the triangle

In [14]:
n=int(input("Enter number:"));
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print('')

Enter number:6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Write a program to print the triangle

In [15]:
n=int(input("Enter number:"));
for i in range(n):
    for j in range(i+1,n+1,1):
        print(j, end=" ")
    print('')
for i in range(2,n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

Find the length of a string without using len functions

In [16]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: hello world
Length of the input string is: 11

Find the no of words and characters in a string

In [17]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:hello world
Number of words in the string:
2
Number of characters in the string:
11

Find the no of occurrences of a word in a string

In [19]:
string = input("Enter string:")
substring = input("Enter substring:")
count = string.count(substring)
print("The count is:", count)

Enter string:I am an engineering student and i am studying in Mangalore
Enter substring:am
The count is: 2