<a href="https://colab.research.google.com/github/Sneha35/Applications-of-python-programming-in-DA-and-ML/blob/master/Day2_Session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dict.clear() Removes all elements of dictionary dict

In [1]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

dict.items() Returns a list of dict's (key, value) tuple pairs

In [2]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

dict.copy() Returns a copy of dictionary dict

In [3]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x)

In [4]:


n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}

Python Program to Sum All the Items in a Dictionary

In [5]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

Python Program to Remove the Given Key from a Dictionary

In [6]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):c
Updated dictionary
{'a': 1, 'b': 2, 'd': 4}

Python Program to add name and mark as key->value pair in a Dictionary and print it.

In [7]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records6
Enter name 1sneha
Enter mark 123
{'sneha': 23}
Enter name 2varun
Enter mark 225
{'sneha': 23, 'varun': 25}
Enter name 3sohan
Enter mark 321
{'sneha': 23, 'varun': 25, 'sohan': 21}
Enter name 4tina
Enter mark 418
{'sneha': 23, 'varun': 25, 'sohan': 21, 'tina': 18}
Enter name 5diya
Enter mark 517
{'sneha': 23, 'varun': 25, 'sohan': 21, 'tina': 18, 'diya': 17}
Enter name 6tarun
Enter mark 627
{'sneha': 23, 'varun': 25, 'sohan': 21, 'tina': 18, 'diya': 17, 'tarun': 27}

Python program to convert 2 digit number into words

In [12]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:25
twenty five

How to sort a dictionary by values in Python

In [13]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [14]:
d={}
for i in range(int(input("Enter number of students: "))):
  str1=input("Enter name: ")
  x=int(input("Enter marks: "))
  d[str1]=x
sorted_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_d)

Enter number of students: 3
Enter name: Sneha
Enter marks: 25
Enter name: saloni
Enter marks: 23
Enter name: sohan
Enter marks: 21
[('Sneha', 25), ('saloni', 23), ('sohan', 21)]

2.Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [15]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print(sorted_a)

Enter number of employees: 4
Enter name: Veeresh
Enter salary: 30000
Enter name: Sneha
Enter salary: 25000
Enter name: Diya
Enter salary: 20000
Enter name: Tia
Enter salary: 22000
[('Diya', 20000), ('Sneha', 25000), ('Tia', 22000), ('Veeresh', 30000)]

3.Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [16]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print(sorted_a)
print("Sum is",sum(d.values()))
print("Max is",max(d.values()))
print("Min is",min(d.values()))
print("Avg is",sum(d.values())/len(d))

Enter number of employees: 3
Enter name: sia
Enter salary: 10000
Enter name: dia
Enter salary: 15000
Enter name: mia
Enter salary: 20000
[('sia', 10000), ('dia', 15000), ('mia', 20000)]
Sum is 45000
Max is 20000
Min is 10000
Avg is 15000.0

4.Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [17]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
s2 = {key:val for key, val in d.items() if val > 2000 and val < 4000}
print(s2)

Enter number of employees: 3
Enter name: sneha
Enter salary: 30000
Enter name: anson
Enter salary: 25000
Enter name: saloni
Enter salary: 20000
{}

5.Python program to convert a 3 digit number into words

In [18]:
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("923"); 
convert_to_words("523"); 
convert_to_words("898");

923 : nine hundred twenty three
523 : five hundred twenty three
898 : eight hundred ninety eight