<a href="https://colab.research.google.com/github/Sneha35/Applications-of-python-programming-in-DA-and-ML/blob/master/Day_2_session_1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST

print multiples of 3 upto 200 using a list

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [1]:
print([x for x in range(3,200+1,3)])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [2]:
print([i for i in range(1000,2001) if i%5==0 and i%7==0])

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

Python Program to put the even and odd elements in a list into two different lists.

In [4]:
a=[int(input("Enter element:")) for i in range(int(input("Enter number of elements:")))]
print("The even list",[j for j in a if j%2==0])
print("The odd list",[j for j in a if j%2!=0])

Enter number of elements:3
Enter element:2
Enter element:5
Enter element:7
The even list [2]
The odd list [5, 7]

The worked out example to be more pythonic

Program to find the largest number in a list.

In [5]:
x=0
print('The greatest no is',max([int(input(x)) for i in range(int(input("Enter n")))]))

Enter n4
5
6
3
4
The greatest no is 6

Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [6]:
import math
print([i for i in range(500,1001) if i%5==0 and (math.sqrt(i) - math.floor(math.sqrt(i))) == 0])

[625, 900]

Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [7]:
print(max((tuple(input("Enter a string: ").split())),key=len))

Enter a string: I am an engineering student
engineering

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno.

In [8]:
print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

Enter number of students3
Enter rollno: 1
Enter marks: 23
Enter rollno: 2
Enter marks: 24
Enter rollno: 3
Enter marks: 21
[('2', '24'), ('1', '23'), ('3', '21')]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [9]:
print(sorted([(input("Enter name: "), input("Enter salary: ")) for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of employees4
Enter name: Sneha
Enter salary: 25000
Enter name: Sohan
Enter salary: 22000
Enter name: Sinchana
Enter salary: 30000
Enter name: Arun
Enter salary: 26000
[('Arun', '26000'), ('Sinchana', '30000'), ('Sneha', '25000'), ('Sohan', '22000')]